@charset "utf-8";
/*Style sheet for Assignment 1*/
html {
    font-size: 16px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: rgb(250, 243, 152);   
}
/* This is the article class. The outer Grid.*/
.big-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-area: head;
    grid-template-areas:
        "head head head"
        "main main main"
        "foot foot foot";
    gap: 5px;
}
/* This is the main class. The nested Grid.*/
.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-area: main;
    grid-template-areas:
        "head head head"
        "s1 s3 s2"
        "s4 s4 as"
        "s5 s5 s5"
        "foot foot foot";
    gap: 5px;
}
/* This list the grid areas for each section. They make up the nested Grid.*/
/* Temporarily has colour for visibility.*/
#s1 {
    grid-area: s1;
    background-color: rgb(255, 210, 147);
    padding: 1rem;
   
}
#s2 {
    grid-area: s2;
    background-color: rgb(255, 210, 147);
    padding: 1rem;
}
#s3 {
    grid-area: s3;
    background-color: rgb(255, 210, 147);
    padding: 1rem;
}
#s4 {
    grid-area: s4;
    background-color: rgb(255, 210, 147);
    padding: 1rem;
}
#s5 {
    grid-area: s5;
    /* background-color: rgb(134, 153, 212); */
    background-color: rgb(255, 210, 147);
    padding: 1rem;
}
#as {
    grid-area: as;
    /* background-color: rgb(161, 212, 134); */
    background-color: rgb(255, 210, 147);
    padding: 1rem;
}

footer {
    grid-area: foot;
    /* background-color: rgb(106, 89, 145); */
    background-color: #EE1753;
    color: white;
    padding: 1rem;
    text-align: center;
}

header {
    grid-area: head;
    width: 100%;
}

/* This is the nav bar it takes up the top "row" of the outer Grid.*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#EE1753;
    width: 100%;   
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    grid-row: 1;
}
.navbar ul li {
    list-style: none;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
}

.s-name{
    margin: 0 1rem;
    font-size: 2rem;
}
h2,h3 {
    color: #EE1753;
}
h5 {
    color: #005e5b
}

/* Small screens*/
@media screen and (max-width: 700px) {
    .big-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-area: head;
    grid-template-areas:
        "head head"
        "main main"
        "foot foot";
    gap: 2px;
}
    .main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-area: main;
    grid-template-areas:
        "head head"
        "s1 s2"
        "s3 s4"
        "s5 as"
        "foot foot";
    gap: 2px;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}
}
