@charset "utf-8";
/*Style sheet for Assignment 1*/
html {
    font-size: 16px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;    
}
body{

}
.big-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-area: head;
    grid-template-areas:
        "head head head"
        "main main main"
        "foot foot foot";
    gap: 5px;
}
.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-area: main;
    grid-template-areas:
        "head head head"
        "s1 s3 s2"
        "s4 s4 as"
        "s5 s5 as"
        "foot foot foot";
    gap: 5px;
}
/* list the grid areas for each section*/

#s1 {
    grid-area: s1;
    background-color: red;
   
}
#s2 {
    grid-area: s2;
    background-color: orange;
}
#s3 {
    grid-area: s3;
    background-color: yellow;
}
#s4 {
    grid-area: s4;
    background-color: green;
}
#s5 {
    grid-area: s5;
    background-color: blue;
}
#as {
    grid-area: as;
    background-color: purple;
}

footer {
    grid-area: foot;
    background-color: pink;
}

/*header and nav bar are giving some issues, so its moved here for now. UL refuses to get bigger and go across the top...*/
header {
    /* display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center; */
    /* display: grid;
    grid-column: 1 / 3;
    grid-row: 1; */
    grid-area: head;
    background-color: bisque;
    width: 100%;

}
/* .s-name{
    
}
.logo {

} 
ul {
    
} */
/**/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* display: grid;
    grid-column: 1 / 3; */
    background-color: bisque;
    width: 100%;

}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-row: 1;
}
.navbar ul li {
    list-style: none;
    margin-left: 2rem;
}
