@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
/*set up the border box as default*/
html {
    box-sizing: border-box;
}
/* making the border-box inherit*/
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    font-size: 16px;
    line-height: 1.4rem;
}

.carousel-item {
    max-width: 100%;
    height: auto;    
}


.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas: 
    "header header"
    "syn syn"
    "Book author1"
    "Book author2"
    "carousel carousel"
    "tabs tabs"
    "acc acc";
}

header {
    grid-area: header;
}
#author1 {
    grid-area: author1;
}
#author2 {
    grid-area: author2;
}
#book {
   grid-area: Book; 
}
#trilogy {
    width: 50%;
    transform: translateX(50%);
    grid-area: carousel;
}

#tabsarea {
    grid-area: tabs;
}

#accordion1 {
    grid-area: acc;
}
footer {
    background-color: rgb(212, 245, 234);
}
#syn {
    grid-area: syn;
}
h1 {
    font-family: "Rye", serif;
    font-weight: 400;
}