@charset "utf-8";

#newCars {
    width: 50%;
    transform: translateX(50%);
}
.carousel-item {
    height: auto;   
}

.carousel-caption {
    color: black;
}
/*added a nice light blueish background to revamp the old site look*/
body {
    background-color: #add1f3;
}
h1 {
    padding: 0 2rem;
}
main {
    padding: 2rem;
}
/*added background colours and some padding*/
#r1-1, #r1-2, #r1-3 {
    background-color: #abaaaa;
    padding-top: 1rem;
}
#r2-1, #r2-2, #r2-3 {
    background-color: #2d7af6;
    padding-top: 1rem;
}
#r3-1, #r3-2 {
    background-color: #f2ff00;
    padding-top: 1rem;
}
/*moved the arrows to the outside of the frame*/
#newCars .carousel-control-prev {
    left: -5rem;
}
#newCars .carousel-control-next {
    right: -5rem;
}
/*made a background and increased font weight for the nav items. Trying this out for the active tab*/
.nav-item.active .nav-link {
    /* background-color: #abaaaa; Nah lets use a woodgrain
    
    image from https://www.pexels.com/photo/brown-wooden-surface-172296/ by FWStudio
    */
    background-image: url('../images/woodgrain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    border-radius: 0.5rem 0.5rem 0 0;
}
div .col-12 {
    border: 3px dashed black;
    padding: 1rem;
    border-radius: 0.5rem;
    /*this looks a little similar to some wood colours, without having wood grain texture, while the black dashed border reminds me of tire treds*/
    background-color: bisque;
}